@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --white: #fff;
  --border-radius: 0.22em;
  --background-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
  --little-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  --black: rgb(28, 26, 37);
  --black-grey: #2e2f3e;
  --white-text: #ffffff;
  --paragraph: #a7a9be;
  --bg-input: #dee1e2;
  --pink: #9a4d96;
  --btn-submit: rgb(121, 241, 137);
  --btn-submit-grey: rgb(175, 175, 175);
  --btn-submit-hover: rgb(78, 240, 100);
  --btn-submit-hover-grey: rgb(145, 145, 145);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-weight: 700;
}

label {
  font-weight: 500;
}

p,span {
  color: black;
}

svg{
  color : black;
}

.main {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-btn {
  background-color: var(--white);
  color: var(--purple);
  border-radius: .22em;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 1.3rem 2.5rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.2s ease-in-out;
  background-image: -webkit-linear-gradient(45deg, var(--purple) 50%, transparent 50%);
  background-image: linear-gradient(45deg, var(--purple) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-btn:hover {
  background-position: 0;
  background-color: var(--purple);
  color: var(--white-text);
  box-shadow: var(--background-shadow);
}

.main-listes {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0 75px;
  background-color: var(--black-grey);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.main-listes-container {
  background-color: var(--white-text);
  max-width: 1200px;
  padding: 200px 50px 50px 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.home-title {
  padding: 0 40% 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.home-title h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color : white;
}

.home-title span {
  font-size: 1.2rem;
  font-weight: 400;
}

.home-btns {
  display: flex;
  padding-top: 25px;
  gap: 30px;
}

/* Spécification style des balises formulaires */
/* Spécification style des balises formulaires */
/* Spécification style des balises formulaires */
/* Spécification style des balises formulaires */
/* Spécification style des balises formulaires */
/* Spécification style des balises formulaires */
/* Spécification style des balises formulaires */

input {
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="button"],
select {
  box-shadow: var(--little-shadow);
  display: inline-block;
  padding: 0 16px 0 12px;
  width: 250px;
  line-height: 30px;
  height: 32px;
  border: 2px solid #dee1e2;
  background: #dee1e2;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  transition: all .15s ease-in-out;
}

input[type="submit"] {
  cursor: pointer;
}

.submit-gris {
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black-grey);
  background-color: var(--btn-submit-grey);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 23px;
  width: auto;
  line-height: initial;
  height: max-content;
  transition: all .2s ease-in-out;
}

input[type="submit"].submit-active {
  color: var(--black);
  background-color: var(--btn-submit);
}

input[type="submit"].submit {
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--btn-submit);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  width: auto;
  line-height: initial;
  height: 32px;
  transition: all .2s ease-in-out;
}

input[type="submit"].supprimer {
  background-color : rgb(213, 123, 123);
}


/* bouton ajout joueur de théo ? */
input[type="submit"].add,
input[type="button"].add {
  font-size: 15px;
  background-color: var(--btn-update);
}

input[type="button"].bouton {
  cursor: pointer;
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--btn-bouton);
  width: auto;
  line-height: initial;
  height: max-content;
  transition: all .2s ease-in-out;
}

.return {
  text-decoration: none;
  cursor: pointer;
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  border: 0px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--btn-bouton);
  width: auto;
  line-height: initial;
  height: max-content;
  transition: all .2s ease-in-out;
  padding: 5px 12px;
}

input[type="button"].boutonAddJoueur {
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--btn-boutonAddJoueur);
  width: auto;
  line-height: initial;
  height: max-content;
  transition: all .2s ease-in-out;
}

input[type="button"].button-commentaire {
  padding : 0px;
}

input[type="submit"].update {
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
  color: var(--black);
  border: 0px;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--btn-update);
  width: auto;
  line-height: initial;
  height: "max-content";
  transition: all .2s ease-in-out;
}



input[type="text"]:hover,
input[type="date"]:hover,
input[type="password"]:hover,
input[type="button"],
select:hover {
  border: 2px solid #d2d7d8;
  background: #d2d7d8;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
  border: 2px solid #696666;
  background: #d2d7d8;
}

input[type="submit"].submit-gris:hover {
  background-color: var(--btn-submit-grey-hover);
}

input[type="submit"].submit:hover,

input[type="submit"].submit-active:hover {
  background-color: var(--btn-submit-hover);
}

input[type="submit"].supprimer:hover {
  background-color: rgb(170, 67, 67);
}

input[type="submit"].update:hover {
  background-color: var(--btn-update-hover);
}

input[type="submit"].add:hover,
input[type=button].add:hover {
  background-color: var(--btn-update-hover);
}

.return:hover {
  background-color: var(--btn-bouton-hover);
}

.svgmodifier{
  cursor : pointer;
  text-align : center;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

.btn-connexion {
  color: var(--white-text);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--pink);
  transition: all .2s ease-in-out;
  padding: 8px 25px;
  margin-left: 25px;
  border-radius: var(--border-radius);
}

.btn-connexion:hover {
  background-color: var(--purple-blue);
  box-shadow: var(--background-shadow);
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 4px 32px;
  background-color: var(--white-text);
  box-shadow: var(--little-shadow);
}

header img {
  width: 100px;
}

header a {
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
}

header ul {
  list-style-type: none;
  margin: 0;
}

.topnavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu li {
  width: 100%;
  text-align: center;
}

.navbar-menu a.navbar-link {
  padding: 10px 25px;
  line-height: 50px;
  border-bottom: 1px solid var(--white-text);
  transition: all .2s ease-in-out;
}

.navbar-menu a.navbar-link:hover {
  color: var(--pink-blue);
  border-bottom: 1px solid var(--pink);
}

.navbar-menu .sousmenu {
  display: none;
}

.navbar-item:hover .sousmenu {
  display: block;
  position: absolute;
  padding: 15px;
  background-color: var(--white);
  box-shadow: var(--background-shadow);
  border-radius: var(--border-radius);
}

.navbar-item:hover .sousmenu li {
  width: 100%;
  text-align: left;
}

.navbar-item:hover .sousmenu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: initial;
}


.navbar-haut {
  border : 1px solid;
  display : flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-haut a{
  border : solid green;
}

.navbar-haut form{
  border: solid red;
  margin-left: auto;
}

/* Creation/Modification d'un tournoi */
/* Creation/Modification d'un tournoi */
/* Creation/Modification d'un tournoi */
/* Creation/Modification d'un tournoi */
/* Creation/Modification d'un tournoi */
/* Creation/Modification d'un tournoi */
/* Creation/Modification d'un tournoi */
/* Creation/Modification d'un tournoi */


.creation-tournoi-container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creation-tournoi-container form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 30px 60px;
  gap: 20px;
}

.main-creation-joueur {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 170px;
  min-height: 100vh;
  background-image: url(../img/foot.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.creation-tournoi-title {
  gap: 15px;
  font-size: 32px;
  width: 115%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.creation-tournoi-title::after {
  content: '';
  width: 100%;
  background-color: #000000;
  opacity: .2;
  height: 1px;
  font-size: 32px;
}

.creation-tournoi {
  gap: 110px;
  display: flex;
  justify-content: space-between;
}

.creation-tournoi-input {
  padding: 10px 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

/*
TABLEAU
TABLEAU
*/

.tableau-style {
  display: flex;
  justify-content: center;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top : 20px; */
}

th, td {
  padding-top: 8px;
  padding-bottom : 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}

/*
FILTRE TABLEAU
FILTRE TABLEAU
FILTRE TABLEAU
*/

.filtre{
  display : flex;
  flex-direction: row;
  align-items: flex-end;
  gap : 10px;
}